<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Edgewater, Chicago</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>Edgewater is located about 20 minutes north of Downtown, near the edge of the lake. It is cooler near the lake.</p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Below is a brief list of recommendations on places to stay on the north side.
                It is marathon weekend - a big deal! - so we do recommend reserving your accommodation early.
                The families will be staying in the neighborhood, which is a great option if you can find a rental or B&B, though unfortunately it doesn't have a lot of big hotels.
            </p>
            <p>We will provide one shuttle to/from Hilton Garden Inn, plus Lyfts to get you back to wherever you're staying after the event.
			</p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Hilton Garden Inn</th>
                    <td>
                        The <a href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=CHISKHX&groupCode=CHH91Z&arrivaldate=2026-10-09&departuredate=2026-10-11&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT">Hilton Garden Inn</a> is conveniently located in the near northwest suburbs.
                        It is about a 30 minute drive to the venue.
                        We have a block of discounted rooms reserved there - use the link above to get the group discount.
                    </td>
                </tr>
                <tr>
                    <th>Hotels/Bed and Breakfasts</th>
                    <td>
                        There are a large number of hotels in and around the city/neighborhood. Because of the marathon, the aren't large blocks of rooms available, and prices can vary wildly. We hope you can find something convenient. If you need assistance please don't hesitate to reach out to us.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
