<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">
                    Friday Night Welcome
                </h2>
                <hr class="primary" />
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Come join us for a few celebratory drinks at a local
                        Chicago restaurant
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, October 9th at 8:00 pm</dd>
                    <dt>Where</dt>
                    <dd>TBD</dd>
                    <dt>Attire</dt>
                    <dd>
                        Casual (Canadian tuxedo (denim on denim) encouraged)
                    </dd>
                    <dt>Transportation</dt>
                    <dd>
                        Transportation is not provided. Please plan responsibly.
                    </dd>
                    {% comment %}
                    <dt>Other info</dt>
                    <dd>
                        We are doing our rehearsal dinner at the same venue. The
                        bar will be open to the public at this time and guests
                        should feel free to come early and enjoy food and drink
                        before the official party starts. We’ll open the doors
                        whenever we finish eating but by 8 at the latest.
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">
                    Saturday Ceremony and Reception
                </h2>
                <hr class="primary" />
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage</dd>
                    <dt>When</dt>
                    <dd>Saturday, October 10, at 5:30 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            The Lytle House<br />
                            <a href="https://maps.app.goo.gl/YyQRZ8Auizt46L4V9"
                                >5517 N Broadway, Chicago, IL 60640</a
                            ><br />
                            Phone: +1 872 288-5591
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Under negotiation.</dd>
                    <dt>Transportation</dt>
                    <dd>
                        Transportation will be provided from the Hilton Garden
                        Inn before the ceremony and back to any of your
                        destinations via Lyft.
                    </dd>
                    <dt>Parking</dt>
                    <dd>
                        Parking is available across the street at The Lytle
                        House
                    </dd>
                    {% comment %}
                    <dt>Afterwards</dt>
                    <dd>
                        Guests wishing to continue celebrating with Jake and
                        Miranda after the reception can head to the TBD.
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary" />
                <p style="text-align: center">Run a marathon.</p>
            </div>
        </div>
    </div>
</section>
